@model IEnumerable<MvcApplication1.Models.Customer>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.customer_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.customer_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.salary)
            </th>


        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.customer_name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.salary)
                </td>
            </tr>

        }

    </table>
</body>
</html>
